<!DOCTYPE html>
<div class="container" style="opacity:0.9">
	<div class="jumbotron">
		<div class="page-header text-center">
			<h1>Hello, world!</h1>
			<small>your ip address is <%= Ip %></small>
		</div>
		<div class="home-btn text-center">
			<a class="btn btn-primary" href="http://bbs.nga.cn/" target="_blank">NGA</a>
			<a class="btn btn-info" href="http://www.bilibili.com/" target="_blank">bilibili</a>
			<a class="btn btn-warning" href="http://www.acfun.tv/" target="_blank">Acfun</a>
			<a class="btn btn-success" href="http://www.youtube.com/" target="_blank">YouTuBe</a>
			<a class="btn btn-danger" href="http://www.Google.com/" target="_blank">Google</a>
		</div>
	</div>
</div>
