<!DOCTYPE html>
<% include head %>
<div class="container" style="opacity:0.9">
  <div class="jumbotron">
    <h1>Hello, world!</h1>
    <div class="jump">
    	<a class="btn btn-primary" href="http://bbs.nga.cn/" target="_blank">NGA</a>
    	<a class="btn btn-info" href="http://www.bilibili.com/" target="_blank">bilibili</a>
    	<a class="btn btn-warning" href="http://www.acfun.tv/" target="_blank">Acfun</a>
    </div>
  </div>
</div>
<% include foot %>
