<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <title><%= title %></title>
    <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/author.css">
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/jquery/jquery.min.js"></script>
    <script src="/javascripts/main.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top" role="navigation" id="head" >
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="/images/favicon.ico" class="img-circle author"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="nav-font"><a href="/resume"><span class="glyphicon glyphicon-user"></span>Resume</a></li>
            <li class="nav-font"><a href="/board"><span class="glyphicon glyphicon-pencil"></span>Board</a></li>
            <li class="nav-font"><a href="/link"><span class="glyphicon glyphicon-star"></span>Link</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">   
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <% if(locals.IsHome){ %>
      <% include index %>
    <% } %>
    <% if(locals.IsBoard){ %>
      <% include board %>
    <% } %>
    <% if(locals.IsLink){ %>
      <% include link %>
    <% } %>
    <% if(locals.IsResume){ %>
      <% include resume %>
    <% } %>
  </body>
</html>