<!DOCTYPE html>
<div class="container text-center" id="resume">
	<div class="row" id="resume-top">
		<div class="col-md-4">
			<img src="/images/head-shot.JPG" class="resume-head-shot">
		</div>
		<div class="col-md-4">
			<div class="resume-font-lg">
				<span class="glyphicon glyphicon-user"></span>
				Personal Info<br>
			</div>
			<div class="resume-font">
				Name: 钟楠<br>
				Age: 21<br>
				Cellphone: 15757129739<br>
				E-mail:
				<a href="mailto:625828905@qq.com" title="625828905@qq.com">@QQ Mail</a>
				<a href="mailto:rexkaneki@gmail.com" title="rexkaneki@gmail.com">@Gmail</a><br>
				Personal page: <a href="https://github.com/rex-zsd" title="github.com/rex-zsd" target="_blank">GitHub</a>
			</div>
		</div>
		<div class="col-md-4">
			<div class="resume-font-lg">
				<span class="glyphicon glyphicon-pencil"></span>
				Education<br>
			</div>
			<div class="resume-font">
				Graduate from ： ZJSU<br>
				Major ：Computer Science<br>
				Degree ：<br>
				Scholarship ：<br>
				
				<!--<% for(i=1;i<=2;i++){ %>
					<div class="row">
						<div class="col-md-6">
							<div class="thumbnail">
								<a target="_blank" href="/images/certificate of archievement/<%= 2*i-1 %>.jpg">
									<img src="/images/certificate of archievement/<%= 2*i-1 %>.jpg" >
								</a>
							</div>
						</div>
						<div class="col-md-6">
							<div class="thumbnail">
								<a target="_blank" href="/images/certificate of archievement/<%= 2*i %>.jpg" >
									<img src="/images/certificate of archievement/<%= 2*i %>.jpg">
								</a>
							</div>
						</div>
					</div>
				<% } %>-->
			</div>
		</div>
	</div>
	<div class="row" id="resume-bottom">
		<div class="col-md-4">
			<div class="resume-font-lg">
				<span class="glyphicon glyphicon-flag"></span>
				Personal advantages<br>
			</div>
			<div class="resume-font">
				Html (Html5)<br>
				Css (Bootstrap)<br>
				js (jQuery)<br>
				Nodejs<br>
				MongoDB<br>		
				Github<br>		
				<br>
			</div>
		</div>
		<div class="col-md-4 col-md-offset-4">
			<div class="resume-font-lg">
				<span class="glyphicon glyphicon-heart"></span>
				Hobby<br>
			</div>
			<div class="resume-font">			
				<a target="_blank" href="http://www.bilibili.com"><img src="/images/bilibili.ico" class="resume-ico"></a>
				Anime<br>
				<a target="_blank" href="http://www.wowchina.com"><img src="/images/wow.ico" class="resume-ico"></a>
				<a target="_blank" href="http://www.dota2.com.cn"><img src="/images/dota.ico" class="resume-ico"></a>
				<a target="_blank" href="http://lol.qq.com"><img src="/images/lol.ico" class="resume-ico"></a>
				<a target="_blank" href="http://www.elderscrolls.com/"><img src="/images/tes.ico" class="resume-ico"></a>
				RTS、RPG<br>
			</div>
		</div>
	</div>
	<div class="back-top">
		<a class="glyphicon glyphicon-chevron-up" href="#head" alt="返回顶部" ></a>
	</div>
</div>